$color_bg: #222;
$color_bg_d: rgba(0, 0, 0, .6);
$color_bg_highlight: #333;
$color_bg_dialog: #666;
$color_theme: #ffcd32;
$color_theme_d: rgba(255, 205, 49, .5);
$color_theme_sub: #d93f30;
$color_text: #fff;
$color_text_d: rgba(255, 255, 255, .3);
$color_text_l: rgba(255, 255, 255, .5);
$color_text_ll: rgba(255, 255, 255, .8);

$font_small_s: 10px;
$font_small: 12px;
$font_medium: 14px;
$font_medium_x: 16px;
$font_large: 18px;
$font_large_x: 22px;

