.song-list {
    .item {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 64px;
        font-size: $font_medium;
        .rank {
            flex: 0 0 25px;
            width: 25px;
            margin-right: 30px;
            text-align: center;
            .icon {
                display: inline-block;
                width: 25px;
                height: 24px;
                background-size: 25px 24px;
                &.icon0 {
                    @include bg_image('first');
                }
                &.icon1 {
                    @include bg_image('second');
                }
                &.icon2 {
                    @include bg_image('third');
                }
            }
            .text{
                color: $color_theme;
                font-size: $font_large;
            }
        }
        .content {
            flex: 1;
            line-height: 20px;
            overflow: hidden;
            .name {
                color: $color_text;
            }
            .desc {
                margin-top: 4px;
                color: $color_text_d;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}